<h1 class='page-header'>Leaderboard</h1>


<% if @notice %>
    <div class="alert alert-warning" role="alert"><%= @notice =%></div>
<% end %>


<table class="table">
  <thead>
  <th>Rank</th>
  <th>Name</th>
  <th>Score</th>
  <th>Games played</th>
  </thead>
  <tbody>
  <% @users.each_with_index do |user,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= user.email %></td>
        <td><%= user.score%></td>
        <td><%= user.games.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>
